{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kody</title>
    <meta charset="utf-8" />
   <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script> 
   <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>

   <style>
      #map {
        width: 90%;
        height: 400px;
      }
    </style>
    
</head>
<body>
    {% block page_content %}
    {% endblock %}
</body>
</html>